<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjstudydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppDemoTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".view.RecyclerViewDemoActivity"
            android:theme="@style/AppDemoTheme" />
        <activity
            android:name=".view.DesignSupportLibraryDemoActivity"
            android:theme="@style/DesignDemoTheme" />

        <!--动画开始-->
        <activity
            android:name=".view.AnimationMainDemoActivity"
            android:theme="@style/AppDemoTheme" />
        <activity
            android:name=".view.animation.ASTRSAnimationXMLActivity"
            android:theme="@style/DesignDemoTheme" />
        <activity
            android:name=".view.animation.ASTRSAnimationCodeActivity"
            android:theme="@style/DesignDemoTheme" />
        <activity
            android:name=".view.animation.ValueAnimatorDemo1Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.ValueAnimatorDemo2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.ValueAnimatorDemo3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.ValueAnimatorDemo4Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.ValueAnimatorDemo5Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.XML2VOS"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.animation.AnimatorDemoActivity"
            android:theme="@style/AppTheme" />
        <!--动画结束-->

        <!--自定义控件开始-->
        <activity
            android:name=".view.UserDefinedWidgetActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.userDefinedWidget.DrawDemo1Activity"
            android:theme="@style/AppTheme" />
        <!--自定义控件结束-->
    </application>

</manifest>